apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-network-application
  namespace: unifi-network-application
  labels:
    app: unifi-network-application
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-network-application
  template:
    metadata:
      labels:
        app: unifi-network-application
    spec:
      containers:
        - name: unifi-network-application
          image: lscr.io/linuxserver/unifi-network-application:latest
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: America/New_York
            - name: MONGO_HOST
              value: mongo-0.mongo-headless.mongo.svc.cluster.local
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_DBNAME
              value: unifi
            - name: MONGO_AUTHSOURCE
              value: admin
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: unifi-mongo-creds
                  key: username
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: unifi-mongo-creds
                  key: password
          ports:
            - containerPort: 8443
            - containerPort: 3478
              protocol: UDP
            - containerPort: 10001
              protocol: UDP
            - containerPort: 8080
