apiVersion: v1
kind: Service
metadata:
  name: unifi-network-application
  namespace: unifi-network-application
spec:
  selector:
    app: unifi-network-application
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 8443
