deployment:
  replicas: 2
service:
  spec:
    loadBalancerIP: 192.168.1.121
ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
