apiVersion: v1
kind: Service
metadata:
  name: mongo-headless
  namespace: mongo
  labels:
    name: mongo-headless
spec:
  ports:
    - port: 27017
      targetPort: 27017
  clusterIP: None
  selector:
    role: mongo
