apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: network
spec:
  project: homelab
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik
      targetRevision: 39.1.0-ea.2
      helm:
        valueFiles:
          - $values/charts/traefik/values.yaml
    - repoURL: https://github.com/mjprobinson/homelab
      targetRevision: HEAD
      ref: values
  destination:
    name: in-cluster
    namespace: network
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
